* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.calculator {
  width: 38%;
  min-width: 550px;
  max-width: 100%;
  padding: 20px;
}

.buttons-div {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

button {
  width: 150px;
  height: 70px;
  border: 1px solid gray;
  font-size: 24px;
}

button:hover {
  background-color: aliceblue;
}

button:active {
  background-color: rgb(148, 148, 217);
  color: white;
  font-weight: bold;
}

.input-field {
  width: 76%;
  height: 80px;
  font-size: 55px;
  text-align: right;
  background-color: gray;
}

.zero {
  width: 38%;
}

.operation {
  background-color: rgb(253, 165, 76);
}
